.edit-patient {
  &__budgets {
    .panel-body {
      .panel {
        -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
        margin-top: 20px;
      }
      .panel-body {
        background-color: $brand-info;
        color: #ffffff;
        padding: 0 15px;
        font-weight: bold;
      }
      .panel-footer {
        background-color: #ffffff;
        font-size: 12px;

        a {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
  }
}