.edit-service {

  [readonly="readonly"] {
    background-color: #ffffff;
    cursor: pointer;
    color: #636b6f;
    font-family: Calibri;
    font-weight: bold;
  }

  a {
    cursor: pointer;
  }

  hr {
    margin: 10px 0;
  }
}